.mn-charts {
  padding: 50px 0 20px;

  .chart-holder {
    position: relative;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02), 0 0 8px 0 rgba(0, 0, 0, 0.01),
      4px 16px 32px 0 rgba(0, 48, 111, 0.16);
    padding: 25px 30px;
    border-radius: 2px;
    user-select: none;
    min-height: 320px;

    h1 {
      margin-bottom: 25px;
      text-align: center;
      color: #333;
      font-weight: bold;
    }

    .chart-item {
      height: 480px;
      position: relative;

      &.pie-chart {
        margin-right: 60px;
        width: 460px;
      }
      &.bar-chart {
        width: 510px;
      }
    }
  }
}

.chart-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {
  .mn-charts {
    .chart-holder {
      .chart-item {
        &.pie-chart {
          margin-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mn-charts {
    .chart-holder {
      .chart-item {
        &.pie-chart {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .mn-charts {
    .lg-container {
      padding: 0;
    }

    .chart-holder {
      .chart-item {
        height: 400px;
        &.bar-chart {
          width: 480px;
        }
      }
    }
  }
}
