// Colors

// White and Greyish
$royal-white: rgb(238, 238, 238);
$fresh-white: rgb(242, 241, 239);
$strong-white: rgb(218, 223, 225);

$pure-white: rgb(255, 255, 255);
$lighty: rgb(200, 214, 229);

// Dark
$royal-darkish: rgb(52, 73, 94);
$fresh-darkish: rgb(34, 47, 62);
$strong-midnight: rgb(44, 62, 80);

$ultra-darkish: rgb(46, 49, 49);
$super-darkish: rgb(29, 31, 31);

// blue
$royal-blue: rgb(83, 51, 237);
$fresh-blue: rgb(25, 181, 254);
$strong-blue: rgb(77, 19, 209);

$smooth-blue: rgb(75, 44, 255);
$ultra-blue: #005384;
// ********************
// Greenary

$orayl-greenary: rgb(0, 230, 64);
$fresh-greenary: rgb(46, 204, 113);
$strong-grenary: rgb(39, 174, 96);

$greenise: rgb(26, 188, 156);
$greenSea: rgb(22, 160, 133);

// Purple
$royal-purple: rgb(140, 20, 252);
$fresh-purple: rgb(155, 89, 182);
$strong-purple: rgb(142, 68, 173);

// Orange
$royal-orange: rgb(241, 90, 34);
$fresh-orange: rgb(255, 107, 107);
$strong-orange: rgb(238, 82, 83);

// Yellow
$royal-yellow: rgb(241, 196, 15);
$fresh-yellow: rgb(240, 255, 0);
$strong-yellow: rgb(238, 238, 0);

// Red
$royal-red: rgb(231, 76, 60);

// Font Size or other Sizes

$xs-size: 12px;
$sm-size: 16px;
$md-size: 26px;
$lg-size: 35px;
$xl-size: 50px;
