// 0. Plugins

@import './sass/0-plugins/variables.scss';
@import './sass/0-plugins/mixin.scss';

// 1. reset
@import './sass/1-reset/normalize.scss';

// 2. layout
@import './sass/3-layout/responsive.scss';

body {
  background-color: #fff;
  color: rgb(44, 41, 41);
  line-height: 1.4;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

%btn-hover-blue {
  background: $royal-blue;
}

// .btn {
//   letter-spacing: 1.5px;
//   @include btn();
// }

%user-select-none {
  cursor: pointer;
  user-select: none;
}

%pointer-event-none {
  pointer-events: none;
}

.spinner {
  margin: auto;
}
