// 0. Plugins

@import './sass/0-plugins/variables.scss';
@import './sass/0-plugins/mixin.scss';

// 1. reset
@import './sass/1-reset/normalize.scss';

// 2. Base
@import './sass/2-base/class-helpers.scss';

// 3. layout
@import './sass/3-layout/responsive.scss';

body {
  background-color: #fff;
  color: rgb(44, 41, 41);
  line-height: 1.4;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

%btn-hover-blue {
  background: $royal-blue;
}

// .btn {
//   letter-spacing: 1.5px;
//   @include btn();
// }

%user-select-none {
  cursor: pointer;
  user-select: none;
}

%pointer-event-none {
  pointer-events: none;
}

.github-icon {
  height: 68px;
  width: 68px;
  fill: $fresh-blue;
  margin-bottom: 8px;
}

.main-page {
  background-color: #1b242f;
  height: 100vh;

  .page-content {
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
    min-width: 440px;

    h1 {
      font-size: 40px;
    }
  }
}

.hm-search {
  margin-top: 20px;

  .search-input {
    padding: 15px 10px;
    font-size: 22px;
    border-radius: 3px;
    color: #222;
    text-align: center;
  }
}

.spinner {
  margin: auto;
}
